<ion-content>

  <ion-grid>

    <ion-row justify-content-center align-items-center>
      <img class="smartwareInternational" src="assets/img/logo-smartware-international.png">
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <p text-center>{{'SELECTIONSCREEN.title' | translate}}</p>
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <img class="platforms" src="assets/img/all platforms.JPG">
      <ion-row class="versionRow" justify-content-center>
        <ion-text>
          <p class="version" text-center no-margin>v1.01</p>
          <p class="vDate" text-center no-margin>12/12/2019</p>
        </ion-text>
      </ion-row>
    </ion-row>

    <ion-row justify-content-center align-items-center>

      <ion-col text-start>
        <ion-button (click)="goLanding()">{{'SELECTIONSCREEN.config' | translate}}</ion-button>
      </ion-col>

      <ion-col text-center>
        <p text-center class="redText" *ngIf="error">{{'SELECTIONSCREEN.error' | translate}}</p>
        <ion-button (click)="submit()" *ngIf="error">{{'SELECTIONSCREEN.connect' | translate}}ΣΥΝΔΕΣΗ</ion-button>
      </ion-col>

      <ion-col text-end>
        <ion-button (click)="exit()">{{'SELECTIONSCREEN.exit' | translate}}</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
