ion-grid{
  width: 100%;
  height: 100%;

  ion-row{
    width: 100%;
    height: 25%;

    p{
      margin: 0;
      font-size: 65px;

    }

    .smartwareInternational{
      width: 40%;
      height: 60%;
    }

    .platforms{
      width: 25%;
      height: 60%;
    }

    .redText{
      font-size: 15px;
      color: red;
    }

    ion-button{
      width: 170px;
      height: 60px;

      --color: black;
      --color-activated: black;
      --color-hover: black;
      --color-focused: black;

      --background: white;
      --background-activated: white;
      --background-hover: white;
      --background-focused: white;

      border-radius: 5px;
      border: 1px solid #2E89B0;
      box-shadow: none;
    }
  }
}
