<ion-content>

  <ion-grid>

    <ion-row justify-content-center class="title">
      <ion-title text-center>{{'LANDING.title' | translate}}</ion-title>
    </ion-row>

    <ion-row justify-content-center class="form">
      <form [formGroup]="loginForm">

        <ion-row justify-content-center class="label">
          <ion-label>{{'LANDING.serverIp' | translate}}</ion-label>
        </ion-row>
        <ion-row justify-content-center class="input">
          <ion-input class="inputField" clearInput type="text" formControlName="ip" (focusout)="fillIp()"></ion-input>
        </ion-row>

        <ion-row justify-content-center class="label">
          <ion-label>{{'LANDING.port' | translate}}</ion-label>
        </ion-row>
        <ion-row justify-content-center class="input">
          <ion-input class="inputField" clearInput type="number" formControlName="port" (focusout)="fillPort()"></ion-input>
        </ion-row>

        <ion-row justify-content-center class="label">
          <ion-label>{{'LANDING.storecode' | translate}}</ion-label>
        </ion-row>
        <ion-row justify-content-center class="input">
          <ion-col class="left">
            <ion-input class="inputField" clearInput type="number" formControlName="store_id"></ion-input>
          </ion-col>
          <ion-col class="right">
            <ion-input class="inputField" (click)="getStores()">
              <ion-select interface="popover" formControlName="store_id" placeholder="Καταστήματα" disabled="true" *ngIf="!isSelected"></ion-select>
              <ion-select interface="popover" formControlName="store_id" placeholder="{{selectedStore.store_id}}" disabled="true" *ngIf="isSelected"></ion-select>
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center class="label">
          <ion-label>{{'LANDING.username' | translate}}</ion-label>
        </ion-row>
        <ion-row justify-content-center class="input">
          <ion-input class="inputField" clearInput type="text" formControlName="user_name"></ion-input>
        </ion-row>

        <ion-row justify-content-center class="label">
          <ion-label>{{'LANDING.password' | translate}}</ion-label>
        </ion-row>
        <ion-row justify-content-center class="input">
          <ion-input class="inputField" clearInput type="password" formControlName="password"></ion-input>
        </ion-row>

        <ion-row justify-content-center class="submitBtn">
          <ion-button class="genericButton" (click)="submit()">{{'LANDING.submit' | translate}}</ion-button>
        </ion-row>

      </form>
    </ion-row>

  </ion-grid>

</ion-content>

<footer>
  <ion-row>
    <ion-col text-start>
      <p (click)="goScanQR()">{{'LANDING.orQR' | translate}}</p>
    </ion-col>
    <ion-col>
      <p text-end (click)="checkConnection()" *ngIf="handler.serverLink != undefined">{{'LANDING.checkConnection' | translate}}</p>
    </ion-col>
  </ion-row>
</footer>
