<ion-content>

  <ion-grid>

    <ion-row class="title ion-justify-content-center">
      <ion-title text-center>{{'LANDING.title' | translate}}</ion-title>
    </ion-row>

    <ion-row class="form ion-justify-content-center">
      <form [formGroup]="loginForm">

        <ion-row class="label ion-justify-content-center">
          <ion-label>{{'LANDING.serverIp' | translate}}</ion-label>
        </ion-row>
        <ion-row class="input ion-justify-content-center">
          <ion-input class="inputField" clearInput type="text" formControlName="ip" (focusout)="fillIp()"></ion-input>
        </ion-row>

        <ion-row class="label ion-justify-content-center">
          <ion-label>{{'LANDING.port' | translate}}</ion-label>
        </ion-row>
        <ion-row class="input ion-justify-content-center">
          <ion-input class="inputField" clearInput type="tel" formControlName="port" (focusout)="fillPort()"></ion-input>
        </ion-row>

        <ion-row class="label ion-justify-content-center">
          <ion-label>{{'LANDING.storecode' | translate}}</ion-label>
        </ion-row>
        <ion-row class="input ion-justify-content-center">
          <ion-col class="left">
            <ion-input class="inputField" clearInput type="text" formControlName="store_id" (ionChange)="resetSelection()"></ion-input>
          </ion-col>
          <ion-col class="right">
            <ion-input class="inputField" (click)="getStores()">
              <ion-select interface="popover" formControlName="store_id" placeholder="Καταστήματα" disabled="true" *ngIf="!isSelected"></ion-select>
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="label ion-justify-content-center">
          <ion-label>{{'LANDING.username' | translate}}</ion-label>
        </ion-row>
        <ion-row class="input ion-justify-content-center">
          <ion-input class="inputField" clearInput type="text" formControlName="user_name"></ion-input>
        </ion-row>

        <ion-row class="label ion-justify-content-center">
          <ion-label>{{'LANDING.password' | translate}}</ion-label>
        </ion-row>
        <ion-row class="input ion-justify-content-center">
          <ion-input class="inputField" clearInput type="password" formControlName="password"></ion-input>
        </ion-row>

        <ion-row class="label ion-justify-content-center">
          <ion-label>{{'LANDING.shortDescr' | translate}}</ion-label>
        </ion-row>
        <ion-row class="input ion-justify-content-center">
          <ion-toggle formControlName="shortDescr"></ion-toggle>
        </ion-row>

        <ion-row class="submitBtn ion-justify-content-center">
          <ion-button class="genericButton" (click)="submit()">{{'LANDING.submit' | translate}}</ion-button>
        </ion-row>

      </form>
    </ion-row>

  </ion-grid>

</ion-content>

<footer>
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-start">
      <p (click)="goScanQR()">{{'LANDING.orQR' | translate}}</p>
    </ion-col>

    <ion-col class="ion-text-center">
      <p class="version ion-text-center ion-no-margin">v{{handler.version}}</p>
    </ion-col>

    <ion-col>
      <p class="ion-text-end" (click)="checkConnection()" *ngIf="handler.serverLink != undefined">{{'LANDING.checkConnection' | translate}}</p>
    </ion-col>
  </ion-row>
</footer>
