<ion-content>

  <ion-grid>

    <ion-row class="clientLogo">
      <ion-img src="assets/img/logo-galaxias_BLUE_TAGLINE.png"></ion-img>
    </ion-row>

    <ion-row justify-content-center class="mainText">
      <p text-center>Περάστε από το scanner το προϊόν για το οποίο θέλετε πληροφορίες ή τη κάρτα πιστότητά σας (Loyalty)</p>
    </ion-row>

    <ion-row justify-content-center class="showcase">
      <ion-img class="screeen" src="assets/img/NQuire_1000_Manta_new_1-283x300.png"></ion-img>
    </ion-row>

    <ion-row justify-content-center class="showcase">
      <ion-img class="wifi" src="assets/img/red wifi.jpg" style="transform: rotate(180deg)"></ion-img>
    </ion-row>

    <ion-row justify-content-end class="companyLogo">

      <ion-col text-center align-items-start size="4">
        BARCODE
      </ion-col>

      <ion-col text-end align-items-end size="4">
        <img src="assets/img/logo-smartware.png">
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
