ion-content{

  ion-grid{
    padding: 0;
    margin: 0;

    .mainText{
      width: 100%;

      p{
        padding: 0 20px 0 20px;
        margin: 0;
        font-size: 65px;
      }

    }

    .showcase{
      width: 100%;

      .screen{
        width: 20%;
        height: 20%;
      }

    }

  }

}

.barcode{
  width: 80%;
  height: 80%;
}
