<ion-content>

  <ion-grid>

    <ion-row class="clientLogo">
<!--      <img [src]="'http://192.168.1.27/assistant/storeimagechecker.png'"> &lt;!&ndash;HARDCODE&ndash;&gt;-->
      <img [src]="handler.serverLink + imgName">
    </ion-row>

    <ion-row class="mainText ion-justify-content-center">
      <p text-center>{{'HOME.title' | translate}}</p>
    </ion-row>

    <ion-row class="showcase ion-justify-content-center">
      <img class="screen" src="assets/img/Newland_Scan.png">
    </ion-row>

  </ion-grid>

</ion-content>

<footer>

  <ion-grid>
    <ion-row class="companyLogo ion-justify-content-end ion-align-items-end">

      <ion-col class="ion-text-center ion-align-items-start" size="4">
        <img class="barcode" src="assets/img/bc.png">
      </ion-col>

      <ion-col class="ion-text-end ion-align-items-end" size="4">
        <img src="assets/img/logo-smartware.png">
      </ion-col>

    </ion-row>
  </ion-grid>

</footer>
