<ion-content>

  <ion-grid>

    <ion-row class="clientLogo">
<!--      <img [src]="'http://192.168.1.27/assistant/storeimagechecker.png'"> &lt;!&ndash;HARDCODE&ndash;&gt;-->
      <img [src]="imgIp + imgName">
    </ion-row>

    <ion-row justify-content-center class="mainText">
      <p text-center>{{'HOME.title' | translate}}</p>
    </ion-row>

    <ion-row justify-content-center class="showcase">
      <img class="screen" src="assets/img/Newland_Scan.png">
    </ion-row>

  </ion-grid>

</ion-content>

<footer>

  <ion-grid>
    <ion-row justify-content-end align-items-end class="companyLogo">

      <ion-col text-center align-items-start size="4">
        <img class="barcode" src="assets/img/bc.png">
      </ion-col>

      <ion-col text-end align-items-end size="4">
        <img src="assets/img/logo-smartware.png">
      </ion-col>

    </ion-row>
  </ion-grid>

</footer>
